<h2>About</h2>

<!-- [()] two way binding -->

<p>Power pipe contact comp {{2 | power: 3}}</p>

<input name="name" [(ngModel)]="memberName" />

<!-- non sugar-->

<input name="name" [ngModel]="memberName"
                   (ngModelChange)="memberName=$event"
/>




<button (click)="addMember()">
  Add
</button>

<h4>Members</h4>

<ul>
  <li *ngFor="let name of members;let i=index; let o=odd; let e=even;">
    {{i}} - {{name}} - isOdd {{o}}, isEven {{e}}
  </li>
</ul>


<app-like [(likes)]="aboutLikes">

</app-like>

<!-- non sugar-->

<app-like [likes]="aboutLikes"
          (likesChange)="aboutLikes = $event">
</app-like>


<app-like [(likes)]="pageLikes">

  </app-like>