<h2>Home</h2>

<!-- data binding -->
<!-- 1. {{expr}} interpolation -->

<p>Price {{price}}</p>

<p>Price * 2 {{price * 2}}</p>

<p>Likes {{likes}} </p>

<!-- 2. [propertyName]="expr" property binding -->

<input [value]="price" />

<input [value]="price * 10" />

<button [disabled]="likes % 2 == 0">
  My button
</button>

<!-- non-sugar/canonical form -->

<input bind-value="price * 10" />


<button bind-disabled="likes % 2 == 0">
  My button
</button>

<!-- 3. event binding (eventName)="expr" -->

<div (click)="divClick()">
  <!-- $event must be spelled exactly smae-->
  <button (click)="increment($event)">
    +1
  </button>

  <button (click)="likes = likes - 1">
    -1
  </button>

  <button on-click="increment()">
    +1 - Non-Sugar
  </button>
</div>