<!-- h2, p are host elements, they host directive -->
<!-- <h2 appHighlight color="lightblue">Home</h2> -->

<h2 appHighlight="lightblue" 
     #highlight1="appHighlight" 
     (hostClick)="highlight1.color='orange'"
     >Home</h2>

<p> Directive color {{highlight1.color}} </p>
 

<p  appHighlight="purple" canHighlight="Off" >Likes {{likes}} </p>

<p appHighlight *ngIf="likes % 2 == 0">
   Dynamic Text 
</p>

<!-- data binding -->
<!-- 1. {{expr}} interpolation -->

<!-- pipe example -->

<p> Price {{price | currency}} </p>
<p> Price {{price | currency:'INR'}} </p>
<p> Price {{price | currency:'EUR'}} </p>

<p> Product Name {{productName | uppercase}} </p>
<p> Product Name {{productName | lowercase}} </p>

<p> Date {{today | date}}</p>


<p> Date {{today | date:'fullDate' | uppercase}}</p>

<p>Date {{today | date:'yyyy-dd-MM'}} </p> 

<!-- custom pipe -->
<p> Power 2^3 ==> {{2 | power:3}}</p>

<p> Power (2^3)  ^2 ==> {{2 | power:3 | power:2}}</p>

<p>Power Default (2) ==> {{2 | power}} </p>

<p> Power {{likes}}^2 ==> {{likes | power: 2}} </p>

<p>Price {{price}}</p>

<p>Price * 2 {{price * 2}}</p>

<p>Likes {{likes}} </p>

<!-- 2. [propertyName]="expr" property binding -->

<input [value]="price" appHighlight />

<input [value]="price * 10" />

<button [disabled]="likes % 2 == 0" appHighlight>
  My button
</button>

<!-- non-sugar/canonical form -->

<input bind-value="price * 10" />


<button bind-disabled="likes % 2 == 0">
  My button
</button>

<!-- 3. event binding (eventName)="expr" -->

<div (click)="divClick()">
  <!-- $event must be spelled exactly smae-->
  <button (click)="increment($event)">
    +1
  </button>

  <button (click)="likes = likes - 1">
    -1
  </button>

  <button on-click="increment()">
    +1 - Non-Sugar
  </button>
</div>