<div>
    <h2>Welcome to {{appTitle}}</h2>

    <!-- component hierarchy: relationship: app.component is a parent component -->
    <!-- header, footer, home are children for app component -->


    <!-- html, DOM: who is parent for header, div-->

    <div>
        <app-header></app-header>
    </div>


    <button (click)="pageName = 'home'"> Home </button>
    <button (click)="pageName = 'about'"> About </button>
    <button (click)="pageName = 'contact'"> Contact </button>
    <button (click)="pageName = '' "> Nothing </button>

    <div [ngSwitch]="pageName">
        <div *ngSwitchCase="'home'">
            <app-home></app-home>
        </div>

        <div *ngSwitchCase="'about'">
                <app-about></app-about>
        </div>

        <div *ngSwitchCase="'contact'">
            <app-contact></app-contact>
        </div>

        <div *ngSwitchDefault>
            <p>No page is shown</p>
        </div>
    </div>

<!-- 
    <app-home></app-home>

    <app-about></app-about>

    <app-contact></app-contact> -->

    <!-- 
        subscribing for contactEvent
        (contactEvent)="onContact($event)"
    -->

    <app-footer  [x-company]="appTitle" 
                 [address]="address"
                 [year]="year"
                 
                 (contactEvent)="onContact($event)"
                 >
                
                 <!-- content view -->
                 <p>Contact time: India 10:00 to 6:00 PM</p>

                 <p>Contact time: USA 8:00 to 5:00 PM</p>
                
                </app-footer>
</div>