<div>
    <h2>Welcome to {{appTitle}}</h2>

    <!-- component hierarchy: relationship: app.component is a parent component -->
    <!-- header, footer, home are children for app component -->


    <!-- html, DOM: who is parent for header, div-->

    <div>
        <app-header></app-header>
    </div>

    <app-home></app-home>

    <app-about></app-about>

    <!-- 
        subscribing for contactEvent
        (contactEvent)="onContact($event)"
    -->

    <app-footer  [x-company]="appTitle" 
                 [address]="address"
                 [year]="year"
                 
                 (contactEvent)="onContact($event)"
                 
                 
                 ></app-footer>
</div>